
/*768*/
@media (max-width: 767px) {
	footer .flex-justify-space-between > div {
		width: 100%;
		text-align: center;
	}
	.footer-logo {
		margin: 0 0 20px 0;
		width: 100%;
	}

	.table-profile {
		margin-left: -15px;
		margin-right: -15px;
	}

	.catalog-title {
		font-size: 16px;
		line-height: 22px;
	}
}

/*768*/
@media (min-width: 768px) {
	.footer-box-phone {
		text-align: right;
	}
	.header-logo img {
		width: auto;
	}
	.header-hotmenu {
	  margin: 0 -10px;
	}
	.header-hotmenu > div {
	  margin: 0 10px;
	}
	.modal-body {
		padding: 30px 25px;
	}
	.modal-footer {
		padding: 20px 25px;
	}	
	.boxstep1 > div {
	  width: 30%;
	}
	#popupstep1 {
		font-size: 18px;
	}
	#popupstep1 h4,
	#popupstep2 h4,
	#popupstep3 h4 {
		font-size: 28px;
	}
	#popupstep1 .btn-primary {
		width: 250px;
		font-size: 24px;
		text-transform: uppercase;
	}
}

/*992*/
@media (max-width: 991px) {
	.side-menu-slide {
		display: none;
	}
	.side-tabs {
		display: none;
	}
}

/*992*/
@media (min-width: 992px) {	
	.nav > li > a {
	  padding-left: 15px;
	  padding-right: 15px;
	}
	.header-hotmenu {
		margin: 0 -20px;
	}
	.header-hotmenu > div {
		margin: 0 20px;
	}
}

/*1200*/
@media (min-width: 1200px) {
  
}